<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="main-container">
      <header class="logo-section">
        <div class="wrapper">
          <img src="/images/ethos-logo.svg" alt="logo" width="250px" />
        </div>
      </header>
      <div class="wrapper">
        <div id="initial-content">
          <div class="full-content">
            <p>Welcome to Ethos, We established in 2003, Ethos Watch Boutiques, India's largest luxury watch retailer started out with a single store in Chandigarh. Today, we have 44 stores across 16 cities in India, including three duty free stores at the Delhi, Mumbai and Bengaluru international airports. Spread across the major metros, our boutiques house the finest selection from over 60 of the world’s top luxury watch brands.</p>
          </div>
          
          <div class="half-content">
            <div class="store-image">
              <div class="img">
                <img src="/images/store-ahm.jpg" alt="">
              </div>
            </div>
            
            <div class="content-section">
              <p class="color_9d f-bold p-heading">ETHOS WATCH BOUTIQUES</p>
              <p>G8 &amp; G9, Ground Floor, <br>Ahmedabad One Mall, Near Vastrapur Lake, Vastrapur,<br> Ahmedabad - 380054, +91-79-40327655 </p>
              <div class="brand-available">
                <p class="fontBold"><strong>Brands Available</strong></p>
                <ul class="watch-brands">
                <li> Omega </li>
                <li> Longines </li>
                <li> Rado </li>
                <li> Tag Heuer </li>
                <li> Tissot </li>
                <li> Movado </li>
                <li>Victorinox </li>
                <li>Citizen </li>
                <li> Seiko </li>
                <li> Sevenfriday </li>
                <li> Frederique Constant </li>
                <li> Raymond Weil </li>
                <li> Montblanc </li>
                </ul>
              </div>
              
              <div class="store-head">
                <p class="fontBold"><strong>Meet the store Head</strong></p>
                
                <div class="user_info">
                  <div class="user_picWrap">
                    <span class="user_pic">
                        <img class="store-head-pic rounded-circle" src="/images/1495773117-EAL1.jpg">
                    </span>
                  </div>
                  <div class="col">
                    <span>Jignesh Patel</span>
                    <p>+91 9825881573</p>
                    <span><a class="color_40" href="mailto:jignesh.patel@ethoswatches.com?subject=Schedule%20An%20Appointment">jignesh.patel@ethoswatches.com</a></span>
                  </div>
                </div>
                
              </div>
            </div>
            
          </div>
        </div>  
        <div id="watch-content" style="display:none;">
        </div>  
      </div>
      <div class="footer" style="display:none;position:absolute;bottom:0px;background:#000;height:8%; width:100%; text-align:center;">
        <button id="stopPlayer" style="margin-top:25px; padding:5px; cursor:pointer;">Close</button>
      </div>
    </div>
  </body>
  <script src="/javascripts/socket.io.js"></script>
  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script>
    $(function () {
      var pWidth= $(window).width();
      var pHeight = $(window).height();
      console.log(pWidth + "==" + pHeight);
//var socket = io.connect('https://amandeep.serveo.net');
var socket = io.connect('http://localhost:3000');
      socket.on('player', function (data) {
        if(data == "stop") {
          showContentAfterVideo();
        }
      });  
      socket.on('message', function (data) {
        var tag1 = data[0] == ""? "stop" : data[0];
        var tag2 = data[1] == ""? "stop" : data[1];;
        console.log("tag1=" + tag1 + "=====tag2=" + tag2);
	
        if((tag1 == "stop") && (tag2 == "stop")){
          console.log("Case1");
          $.get("/stopVideo", function(data)  {
            console.log("Player Stopped:" + data);
            $("#watch-content").html("");
            $("#watch-content").hide();
            $("#initial-content").show();
          });
        }

        if((tag1 == "stop") && (tag2 != "stop")){
          // Stop any player
          // Enable Single product template
          console.log("Case2");
          $.get("/stopVideo", function(data)  {
            $.get("/singleProduct/" + tag2, function(data)  {
              $("#watch-content").html(data);
              $("#initial-content").hide();
              $("#watch-content").show();
            });
          });
        }

        if((tag1 != "stop") && (tag2 == "stop")){
          // Stop any player
          // Enable Single product template
          console.log("Case3");
          $.get("/stopVideo", function(data)  {
            $.get("/singleProduct/" + tag1, function(data)  {
              $("#watch-content").html(data);
              $("#initial-content").hide();
              $("#watch-content").show();
            });
          });
        }

        if((tag1 != "stop") && (tag2 != "stop")){
          console.log("Case4");
          $.get("/stopVideo", function(data)  {
            console.log("Case41");
            $.get("/twoProduct/" + tag1 + "/" + tag2, function(data)  {
              console.log("Case4");
              $("#watch-content").html(data);
              $("#initial-content").hide();
              $("#watch-content").show();
            });
          });
        }
      });
      
      $('#watch-content').on('click', 'a.startPlayer', function(){
        //var height = $(window).height();
        //var width = $(window).width();console.log("hello");
        console.log(pWidth + "==" + pHeight);
        hideContentBeforeVideo();
        $.get("/playVideo/" + $(this).attr("videoName") + "/" + pWidth + "/" + pHeight, function(data) {
          console.log(data);
        });  
      });
      
      $("#stopPlayer").on('click', function(){
        showContentAfterVideo();
        $.get("/stopVideo/", function(data) {
          console.log(data);
        });
      });
      
      function hideContentBeforeVideo() {
        $(".footer").show();
        $("body").css("background", "#000");
        $(".logo-section").hide();
        $(".wrapper").hide();
      }
      
      function showContentAfterVideo(){
        $(".footer").hide();
        $("body").css("background", "#fff");
        $(".logo-section").show();
        $(".wrapper").show();
      }
      
      /*setTimeout(function(){
        $.get("/singleProduct/2462992516", function(data) {
          $("#watch-content").html(data);
          $("#initial-content").hide();
          $("#watch-content").show();
        });
      }, 3000);*/
    });
  </script>
</script>
</html>
