<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="main-container">
      <header class="logo-section">
        <div class="wrapper">
          <img src="/images/ethos-logo.svg" alt="logo" width="250px" />
        </div>
      </header>
      <div class="wrapper">
        <div id="initial-content">
          <h1 style="text-align:center;">Place your watch on tray</h1>
        </div>
        <div id="watch-content" style="display:none;">
        </div>  
      </div>
      <div class="footer" style="display:none;position:absolute;bottom:0px;background:#000;height:10%; width:100%; text-align:center;">
        <button id="stopPlayer" style="margin-top:30px; padding:5px;">Close</button>
      </div>
    </div>
  </body>
  <script src="/javascripts/socket.io.js"></script>
  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script>
    $(function () {
//var socket = io.connect('https://amandeep.serveo.net');
var socket = io.connect('http://localhost:3000');
      socket.on('player', function (data) {
        if(data == "stop") {
          showContentAfterVideo();
        }
      });  
      socket.on('message', function (data) {
        var tag1 = data[0] == ""? "stop" : data[0];
        var tag2 = data[1] == ""? "stop" : data[1];;
        console.log("tag1=" + tag1 + "=====tag2=" + tag2);
	
	if((tag1 == "stop") && (tag2 == "stop")){
	  console.log("Case1");
	  $.get("/stopVideo", function(data)  {
            console.log("Player Stopped:" + data);
            $("#watch-content").html("");
            $("#watch-content").hide();
            $("#initial-content").show();
          });
	}

	if((tag1 == "stop") && (tag2 != "stop")){
	  // Stop any player
          // Enable Single product template
          console.log("Case2");
          $.get("/stopVideo", function(data)  {
            $.get("/singleProduct/" + tag2, function(data)  {
              $("#watch-content").html(data);
              $("#initial-content").hide();
              $("#watch-content").show();
            });
          });
	}

	if((tag1 != "stop") && (tag2 == "stop")){
	  // Stop any player
          // Enable Single product template
          console.log("Case3");
          $.get("/stopVideo", function(data)  {
            $.get("/singleProduct/" + tag1, function(data)  {
              $("#watch-content").html(data);
              $("#initial-content").hide();
              $("#watch-content").show();
            });
          });
	}

	if((tag1 != "stop") && (tag2 != "stop")){
	  console.log("Case4");
	  $.get("/stopVideo", function(data)  {
            $.get("/twoProduct/" + tag1 + "/" + tag2, function(data)  {
              $("#watch-content").html(data);
              $("#initial-content").hide();
              $("#watch-content").show();
            });
          });
	}
      });
      
      $('#watch-content').on('click', 'img.startPlayer', function(){
        var height = $(window).height();
        var width = $(window).width();
        //alert(width + "==" + height);
        hideContentBeforeVideo();
        $.get("/playVideo/" + $(this).attr("video") + "/" + width + "/" + height, function(data) {
          console.log(data);
        });  
      });
      
      $("#stopPlayer").on('click', function(){
        showContentAfterVideo();
        $.get("/stopVideo/", function(data) {
          console.log(data);
        });
      });
      
      function hideContentBeforeVideo() {
        $(".footer").show();
        $("body").css("background", "#000");
        $(".logo-section").hide();
        $(".wrapper").hide();
      }
      
      function showContentAfterVideo(){
        $(".footer").hide();
        $("body").css("background", "#fff");
        $(".logo-section").show();
        $(".wrapper").show();
      }
      
      /*setTimeout(function(){
        $.get("/singleProduct/7894561230", function(data) {
          $("#watch-content").html(data);
          $("#initial-content").hide();
          $("#watch-content").show();
        });
      }, 3000);*/
    });
  </script>
</script>
</html>
