<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<style>
		.main-content{background: #ffffff;bottom: 16%;left: 50%;margin-left: -600px;max-width: 1200px;position: absolute;width: 90%;}
		.about-store{padding: 4.5% 5.3%;}
		.about-content{align-items: center;display: flex;justify-content: space-between;position: relative;}
		.about-content:after{background: #f4f4f4;content: "";height: 100%;right: 50%;top: 0;position: absolute;width: 1px;}
		.about-storeColumn{max-width: 375px;width:100%;}
		.about-storeColumn h2{color: #000000;font-size: 18px;font-weight: 600;letter-spacing: .5px;line-height: 28px;margin-bottom: 15px;text-transform: uppercase;}
		.store-headWrap{align-items: center;display: flex;justify-content: space-between;}
		.store-headWrap img{max-width: 106px;}
		.footer{background: #ffffff;position: fixed;left: 0;bottom: 0;right: 0;padding: 20px 50px;}
		.footer h2{color: #000000;font-size: 14px;font-weight: 700;letter-spacing: .5px;line-height: 28px;margin-bottom: 15px;text-align: center;text-transform: uppercase;}
		.footer ul li{display: inline-block;margin-right: 30px;position: relative;}
		.footer ul li:after{background: #808080;border-radius: 50%;content: "";height: 4px;right: -19px;top:10px;width: 4px;position: absolute;}
		.footer ul li:last-child:after{content: none;}
		@media (max-width:1366px){
			.main-content{bottom: 26%;}
		}
		@media (max-width:1280px){
			.main-content{bottom: 22%;}
		}
		@media (max-width:1024px){
			.main-content{left: 5%;margin-left: 0;bottom: 25%;}
		}
		@media (max-width:768px){
			.main-content{bottom: 20%;left: 15%;width: 70%;}
			.about-store {padding: 65px;}
			.about-content{display: block;}
			.about-content:after{height: 1px;left: 0;margin-top: -5px;top: 50%;width:100%;}
			.about-storeColumn {max-width: 100%;}
			.store-headWrap img {order: 2;}
			.about-storeColumn:last-child{margin-top: 90px;}
		}
		@media (max-width:767px){
			.main-content{display:none;}
		}
	</style>
  </head>
  <body>
  	<div class="page-wrapper">
			<main class="main-wrapper">
				<header class="header-main">
					<div class="logo">
						<img src="/images/ethos-logo.svg" alt="Ethos Watch Boutiques Logo" width="100%" />
					</div>
				</header>
				<div id="watch-content" style="display:none;">
				</div>
				<div id="initial-content">
					<section class="main-content">
						<div class="about-store">
							<div class="about-content">
								<div class="about-storeColumn">
									<h2>Ethos watch boutiques - summit</h2>
									<p>G-14, Plot- A, Select Citywalk Mall, Saket District Centre,<br/>
										New Delhi New Delhi - 110017<br/>
										Tel : +91 11 40588700
									</p>
								</div>
								<div class="about-storeColumn">
									<div class="store-headWrap">
										<img src="/images/store-head.jpg" alt="Store Head Image" width="100%"/>
										<div class="store-head-text">
											<h2>Meet the store head</h2>
											<p>Jitender Kumar<br/>
												+91 8527271479<br/>
												jitender.kumar@ethossummit.com
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>	
				<footer class="footer text-center">
					<div class="">
						<h2>–&nbsp;&nbsp;&nbsp;Brands available&nbsp;&nbsp;&nbsp;–</h2>
						<ul>
							<li><a href="">Panerai</a></li>
							<li><a href="">Jaeger-LeCoultre</a></li>
							<li><a href="">IWC</a></li>
							<li><a href="">Baume & Mercier</a></li>
							<li><a href="">Tag Heuer</a></li>
							<li><a href="">Tissot</a></li>
							<li><a href="">Movado</a></li>
							<li><a href="">Victorinox</a></li>
							<li><a href="">Citizen</a></li>
							<li><a href="">Seiko</a></li>
							<li><a href="">Sevenfriday</a></li>
							<li><a href="">Frederique Constant</a></li>
							<li><a href="">Raymond Weil</a></li>
							<li><a href="">Montblanc</a></li>
						</ul>
					</div>
				</footer>
				<div class="footer" style="display:none;position:absolute;bottom:0px;background:#000;height:8%; width:100%; text-align:center;">
					<button id="stopPlayer" style="margin-top:25px; padding:5px; cursor:pointer;">Close</button>
				</div>
			</main>
		</div>
  </body>
  <script src="/javascripts/socket.io.js"></script>
  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script>
    $(function () {
      var pWidth= $(window).width();
      var pHeight = $(window).height();
      console.log(pWidth + "==" + pHeight);
//var socket = io.connect('https://amandeep.serveo.net');
var socket = io.connect('http://localhost:3000');
      socket.on('player', function (data) {
        if(data == "stop") {
          showContentAfterVideo();
        }
      });  
      socket.on('message', function (data) {
        var tag1 = data[0] == ""? "stop" : data[0];
        var tag2 = data[1] == ""? "stop" : data[1];;
        console.log("tag1=" + tag1 + "=====tag2=" + tag2);
	
        if((tag1 == "stop") && (tag2 == "stop")){
          console.log("Case1");
          $.get("/stopVideo", function(data)  {
            console.log("Player Stopped:" + data);
            $("#watch-content").html("");
            $("#watch-content").hide();
            $("#initial-content").show();
          });
        }

        if((tag1 == "stop") && (tag2 != "stop")){
          // Stop any player
          // Enable Single product template
          console.log("Case2");
          $.get("/stopVideo", function(data)  {
            $.get("/singleProduct/" + tag2, function(data)  {
              $("#watch-content").html(data);
              $("#initial-content").hide();
              $("#watch-content").show();
            });
          });
        }

        if((tag1 != "stop") && (tag2 == "stop")){
          // Stop any player
          // Enable Single product template
          console.log("Case3");
          $.get("/stopVideo", function(data)  {
            $.get("/singleProduct/" + tag1, function(data)  {
              $("#watch-content").html(data);
              $("#initial-content").hide();
              $("#watch-content").show();
            });
          });
        }

        if((tag1 != "stop") && (tag2 != "stop")){
          console.log("Case4");
          $.get("/stopVideo", function(data)  {
            console.log("Case41");
            $.get("/twoProduct/" + tag1 + "/" + tag2, function(data)  {
              console.log("Case4");
              $("#watch-content").html(data);
              $("#initial-content").hide();
              $("#watch-content").show();
            });
          });
        }
      });
      
      $('#watch-content').on('click', 'a.startPlayer', function(){
        //var height = $(window).height();
        //var width = $(window).width();console.log("hello");
        console.log(pWidth + "==" + pHeight);
        hideContentBeforeVideo();
        $.get("/playVideo/" + $(this).attr("videoName") + "/" + pWidth + "/" + pHeight, function(data) {
          console.log(data);
        });  
      });
      
      $("#stopPlayer").on('click', function(){
        showContentAfterVideo();
        $.get("/stopVideo/", function(data) {
          console.log(data);
        });
      });
      
      function hideContentBeforeVideo() {
        $(".footer").show();
        $("body").css("background", "#000");
        $(".logo-section").hide();
        $(".wrapper").hide();
      }
      
      function showContentAfterVideo(){
        $(".footer").hide();
        $("body").css("background", "#fff");
        $(".logo-section").show();
        $(".wrapper").show();
      }
      
      /*setTimeout(function(){
        $.get("/singleProduct/2462992516", function(data) {
          $("#watch-content").html(data);
          $("#initial-content").hide();
          $("#watch-content").show();
        });
      }, 3000);*/
    });
  </script>
</script>
</html>