<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="main-container">
      <header class="logo-section">
        <div class="wrapper">
          <img src="/images/ethos-logo.svg" alt="logo" width="250px" />
        </div>
      </header>
      <div class="wrapper">
        <div id="initial-content">
          <h1 style="text-align:center;">Place your watch on tray</h1>
        </div>
        <div id="watch-content" style="display:none;">
        </div>  
      </div>
    </div>
  </body>
  <script src="/javascripts/socket.io.js"></script>
  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script>
    $(function () {
      var socket = io.connect('http://localhost:3000');
      socket.on('message', function (data) {
        var tag1 = data[0];
        var tag2 = data[1];
        
        if(tag1 != "stop" || tag1 != "" && tag2 != "stop" || tag2 != "") {
          // Stop any player
          // Enable two products template

          $.get("/stopVideo", (data) => {
            console.log("Player Stopped:" + data);

            $.get("/twoProduct/" + tag1 + "/" + tag2, (data) => {
              $("#watch-content").html(data);
              $("#initial-content").hide();
              $("#watch-content").show();
            });
          });
        }
        if(tag1 != "stop" || tag1 != "" && tag2 == "" || tag2 == "stop") {
          // Stop any player
          // Enable Single product template
          $.get("/stopVideo", (data) => {
            console.log("Player Stopped:" + data);

            $.get("/singleProduct/" + tag1, (data) => {
              $("#watch-content").html(data);
              $("#initial-content").hide();
              $("#watch-content").show();
            });
          });
        }
        if(tag1 == "" || tag1 == "stop" && tag2 != "stop" || tag2 != "") {
          // Stop any player
          // Enable Single product template

          $.get("/stopVideo", (data) => {
            console.log("Player Stopped:" + data);

            $.get("/singleProduct/" + tag1, (data) => {
              $("#watch-content").html(data);
              $("#initial-content").hide();
              $("#watch-content").show();
            });
          });

        }
        
        if(tag1 == "" || tag1 == "stop" && tag2 == "stop" || tag2 == "") {
          // Stop any player
          // Show Initial text

          $.get("/stopVideo", (data) => {
            console.log("Player Stopped:" + data);
            $("#watch-content").html("");
            $("#watch-content").hide();
            $("#initial-content").show();
          });

        }  
        
        //tag1 ID tag2 ""
        //tag1 stop tag2 ""
        //tag1 ID tag2 ID
        //tag1 stop tag2 ID
        //tag1 "" tag2 ID
        //tag1 "" tag2 stop
  
        //document.getElementById('data').innerHTML = data;
      });
      
      $('#watch-content').on('click', 'img.startPlayer', function(){
        alert($(this).attr("video"));
        $.get("/playVideo/" + $(this).attr("video"), (data) => {
          console.log(data);
        });  
      });
      
      $(".stopPlayer").on('click', function(){
        $.get("/stopVideo/", (data) => {
          console.log(data);
        });
      });
      
      setTimeout(function(){
        $.get("/singleProduct/7894561230", (data) => {
          $("#watch-content").html(data);
          $("#initial-content").hide();
          $("#watch-content").show();
        });
      }, 3000);
    });
  </script>
</script>
</html>
