/*---reset style---*/
*,
*:before,
*:after {
  box-sizing:
  border-box;
}
html {font-family: sans-serif;line-height: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-ms-overflow-style: scrollbar;-webkit-tap-highlight-color: transparent;}
@-ms-viewport {width: device-width;}
body {background: #ffffff;color: #808080;font-family: Arial, sans-serif;font-size: 14px;font-weight: 400;letter-spacing: .1px;line-height: 24px;margin: 0;padding: 0;}
h1,h2,main,header,footer,div,section,p,ul,ol{display: block;margin: 0;padding: 0;}
img{max-width: 100%;line-height: 100%;}
a,
a[href^="tel:"]{color: #808080;text-decoration: none;}
a:focus{outline: none;}
/*---common style---*/
.main-wrapper{background: url('/images/main-wrapper-bg.jpg')no-repeat top center;background-size: cover;height: 100vh;}
.header-main{background: linear-gradient(#000000, rgba(0, 0, 0, 0) 83%);height: 25vh;}
.logo{margin: 0px auto;padding-top: 40px;width:241px;}
.page-wrapper{background: #ffffff}
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}

/*--loader styling--*/
.loader-wrapper{align-items: center;background: url('/images/loadding-page-bg.jpg') no-repeat center center;background-size: cover;display: flex;height: 100vh;margin: 0px auto;width: 100%;}
.welcome-pageLogo{margin: 0px auto;max-width: 358px;width: 80%;}

/*--single product styling--*/
.single-pageContent{display: flex; justify-content: space-between;height:calc(100vh - 120px);margin: 0px auto;width: 65%;}
.product-specSection{align-items: center;display: flex;justify-content: space-between;width: 100%;}
.specSection-column {max-width: 750px;width: 45%;}
.product-gallery{max-width: 325px;width: 50%;}
h1.product-name{font-size: 14px;font-weight: 500;letter-spacing: .5px;line-height: 26px;text-transform: uppercase;}
h1.product-name span{display: block;}
.brand-name {font-size: 14px;color: #000000;line-height: 26px;}
h1 .collection-name {color: #9d0000;font-size: 18px;font-family: Times New Roman;letter-spacing: .1px;text-transform: capitalize;}
.modal-number {color: #b1b1b1;}
.product-description h2{border-top: 1px solid #f4f4f4;color: #9d0000;font-size: 14px;font-weight: 500;letter-spacing: .5px;margin-top: 15px;padding-top: 15px;text-transform: uppercase;}
.product-spacification{display: flex;flex-wrap: wrap;justify-content: space-between;list-style: none;}
.product-spacification li{width: 35%;margin-top: 15px;}
.product-spacification li span{display: block;}
.specifiction{color: #b1b1b1;font-size: 12px;font-weight: 500;text-transform: uppercase;letter-spacing: .5px;}
.spec-description{color:#404040;font-size: 13px;font-weight: 500;}
/*--double product styling--*/
.double-pageContent{margin: 0px auto;padding: 70px 0px;width: 51.66666666666667%;}
.double-productRow{display: flex;justify-content: space-between;}
.double-productColumn{color: #000000;font-size: 14px;font-weight: 600;letter-spacing: .5px;max-width: 275px;text-align: center;text-transform: uppercase;width: 30%;}
h2.product-name {font-size: 14px;font-weight: 600;margin-bottom: 40px;margin-top: 25px;position: relative;}
h2.product-name:after {background: #f4f4f4;bottom: -20px;content: "";height: 1px;left: 50%;margin-left: -25px;position: absolute;width: 50px;}
h2.product-name span {display: block;}
.collection-name {text-transform: capitalize;}
.product-price .price{font-weight: 500;}
.product-btn{margin-top:20px;}
.videoBtn{background: transparent;border: 1px solid #e4e4e4;color: #000000;cursor: pointer;display: inline-block;line-height: 20px;padding: 12px 30px;transition: all .3s ease-in-out}
.videoBtn:hover, .videoBtn:focus{background: #9d0000;border: 1px solid #9d0000;color: #ffffff;cursor: pointer;display: inline-block;line-height: 20px;outline: none;padding: 12px 30px;}

/*--Video page styling--*/
.product-videoBtn {left: 50%;margin-left: -66px;margin-top: -66px;position: absolute;top: 50%;width: 132px;}
.product-videoBtn a{display: block;}
/*--media styling--*/
@media (max-width:1440px){
	.single-pageContent{display: block;height: auto; padding: 55px 0px;width: 80%;}
  .product-videoBtn {margin-left: -50px;margin-top: -50px;width: 100px;}
  .double-productColumn img {width: 55%;}
  h2.product-name {margin-bottom: 35px;margin-top: 20px;}
  .double-pageContent {padding: 30px 0px;}
}
@media (max-width:1366px){
  .double-productColumn {width: 38%;}
}
@media (max-width:1024px){
  .single-pageContent{width: 90%;}
  .product-gallery {width: 35%;}
  .product-description {width: 56%;}
}
@media (max-width:768px){
  .double-pageContent{width: 75%;}
  .product-specSection{Display: block;}
  .specSection-column {width: 100%;max-width: 100%;}
  .product-description {margin-top: 50px;}
  .product-gallery{text-align: center;}
  .product-gallery img{width: 42%;}
}
